# Lists
- Functions 
- Unpacking 
- Multiplication operations 
- Slicing 
- Finding an element in list
- Efficient way to work with lists

## Creation of list 
Method 1: with list class object  (formal notation)   
Method 2: bracket syntax (literal notation)

In [46]:
# formal notation 
list_formal = list((1,2,3))
list_formal

[1, 2, 3]

In [47]:
# Literal notation
list_literal = [1,2,3]

In [48]:
# Creation of big list can be time taking, and time Efficiency of literal format is higher than the formal notation

### List functions
- append()
- insert()
- pop()
- remove()
- extend()
- len()
- count() 
- index()
- sort() 
- reverse()
- clear() 
- del

In [49]:
# Useful functions of lists: 

# Appending: 
list_literal.append(5)
list_literal

[1, 2, 3, 5]

In [50]:
# Inserting

list_literal.insert(2,10)
list_literal

# Added 10 at index 2

[1, 2, 10, 3, 5]

In [51]:
# Deleting last item
list_literal.pop()

list_literal

[1, 2, 10, 3]

In [52]:
# Removing/Deleting a specific element (first occurance)

list_literal.remove(10)
list_literal

[1, 2, 3]

In [53]:
# Removing Element at specified index

# we use pop() for this operation, by default, pop has -1 index, but we can pass desired index
list_literal.pop(1)
list_literal

[1, 3]

In [54]:
# Adding another list into other list

list_literal.extend([5,2,7,8,9])
list_literal

[1, 3, 5, 2, 7, 8, 9]

In [55]:
# Finding length of list
len(list_literal)

7

In [56]:
# Counting the number, an element repeated in a list 

# Number of time 5 is repeated in a list
list_literal.count(5)

1

In [57]:
# Clearing all the elements of list: 
list_to_clear = [1,2,3,4,5]
list_to_clear.clear()

print(list_to_clear)

[]

In [58]:
# Another syntax to clear a list 
list_to_clear = [1,2,3,4,5]

del list_to_clear[:]
print(list_to_clear)

[]

In [59]:
# Deleting a list 
del list_to_clear

# list_to_clear

In [60]:
# Find index of any element in list 
list_literal.index(5)

2

In [61]:
# Sorting list in ascending order 
list_literal.sort()
print(list_literal)

[1, 2, 3, 5, 7, 8, 9]

In [62]:
# Sorting list in descending order 
list_literal.sort(reverse = True )
list_literal

[9, 8, 7, 5, 3, 2, 1]

In [63]:
# Reversing a list which is equal of sorting in descending order 
list_literal.reverse()
list_literal

[1, 2, 3, 5, 7, 8, 9]

### Unpacking a list 
using an asterisk () before the list name. This is called “unpacking” or “splat” operator. It can be used in different scenarios such as function arguments or in assigning values to multiple variables.

In [64]:
# Unpacking a list 
print(*list_literal)

1 2 3 5 7 8 9

If you want to unpack the first few elements of a list and don’t care about the other elements, you can:

First, unpack the needed elements to variables.
Second, pack the leftover elements into a new list and assign it to another variable.
By putting the asterisk (*) in front of a variable name, you’ll pack the leftover elements into a list and assign them to a variable. For example:

In [65]:
# More on Unpacking 
colors = ['red', 'blue', 'green', "yellow"]
first, second, *other = colors

print(first)
print(second)
print(other)

red
blue
['green', 'yellow']

In [66]:
# Combinning 2 lists into 1 list 

combined_list = [list_literal,list_formal]
combined_list

[[1, 2, 3, 5, 7, 8, 9], [1, 2, 3]]

In [67]:
# But we want elements of list1 and list2 into list3 
combined_list = [*list_literal,*list_formal]
combined_list

[1, 2, 3, 5, 7, 8, 9, 1, 2, 3]

In [68]:
# Another syntax of combinning 2 lists 
combined_list = list_literal+list_formal
combined_list

[1, 2, 3, 5, 7, 8, 9, 1, 2, 3]

In [69]:
# Passing list elements into function

def add(a,b,c):
    return a+b+c

print(add(*[9,1,5]))

15

In [70]:
a,*b,c = [1,2,3,4,5,6]
print(a,b,c)

1 [2, 3, 4, 5] 6

In [71]:
a,b,*c = [1,2,3,4,5,6]
print(a,b,c)

1 2 [3, 4, 5, 6]

In [72]:
*a,b,c = [1,2,3,4,5,6]
print(a,b,c)

[1, 2, 3, 4] 5 6

Packing values in a variable with the * operator can be handy when we need to collect the elements of a generator in a single variable without using the list() function. In the following examples, we use the * operator to pack the elements of a generator expression and a range object to a individual variable

In [73]:
gen = (x**2 for x in range (10))
gen

In [74]:
# We can unpack this generator object using * 
# IMPORTANT, We need trailling comma 

*gen_unpack, = gen 
print(gen_unpack)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
# We can do the same with range object as well 
ran = range(10)
ran

range(0, 10)

In [76]:
*range_unpack, = ran

range_unpack

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
args = [3, 6]
list(range(*args))

[3, 4, 5]

### Multiplication Opetaion on  lists

In [78]:
# Multiplying a list by some number will add same elements in same list, in number of time, it is multiplied 

print(list_literal)
print(list_literal*3)

[1, 2, 3, 5, 7, 8, 9]
[1, 2, 3, 5, 7, 8, 9, 1, 2, 3, 5, 7, 8, 9, 1, 2, 3, 5, 7, 8, 9]

### Finding an element in list

In [79]:
print(3 in list_literal)

True

### Slicing

**Important**   
Slicing always returns shallow copy

In [80]:
list_literal

[1, 2, 3, 5, 7, 8, 9]

In [81]:
# To get all elements 
list_literal[:]

[1, 2, 3, 5, 7, 8, 9]

In [82]:
# Get first 2 elements 
list_literal[0:2]

[1, 2]

In [83]:
# Skip first 2 and get remainning 
list_literal[2:]

[3, 5, 7, 8, 9]

In [84]:
# Get index 2-4 elements , index 4  is inclusive and index 5 is exlusive
list_literal[2:5]

[3, 5, 7]

In [85]:
# from -1 to last
# negative indexing works also from left to right , if we place -1: in square brackets, python will 
# get last element of list from -1 and than try to get elements right at the -1 index which is out of 
# bound and than stop iterating
list_literal[-1:]

[9]

In [86]:
# from -3 to last (right last)
# negative indexing works also from left to right , if we place -3: in square brackets, python will 
# get third last element of list from -3 index and than try to get elements at the right of the -3 index
# and will get -2 index and -1 index and end. 
list_literal[-3:]

[7, 8, 9]

In [87]:
list_literal[:]

[1, 2, 3, 5, 7, 8, 9]

In [88]:
# Slicing will start working from the -3 index (element 7 in list) and than move right at the index of 6 (element 8 in list)
# and stop execution

list_literal[-3:6]

[7, 8]

In [90]:
# What is we try to move slicing from right to left by providing  -3:2 
# To our intution it will start from the -3 index (element 7 in list) and move at right till index 2 (element 3 in list)
list_literal[-3:2]

# This is giving us empty list because this is not the right way move slicing from right to left

[]

In [91]:
list_literal[-3:-1]

[7, 8]

In [93]:
# slicing with step of 2

# Stepping means, python will skip 2 indexs and return element of index after jumping from 2 indexes 
list_literal[1:4:2]

[2, 5]

In [94]:
list_literal[-6:4:2]

[2, 5]

In [97]:
# Negative stepping stepping, move the start end from right to left 
# by default slicing moves from left to right either it's negative indexing or positive 

# Slicing starts from -4 index (element 5 in list), step -2 (move at right to left), skip two elements and return 0th index 
# (element 2 in list)
list_literal[-4:0:-2]

[5, 2]

In [98]:
List = ['Geeks', 4, 'geeks !']
List[:1:-2]

['geeks !']

# Tuples

Description: Tuple are immutable, which means we cannot add,delete in tuples, if we do something like that, the memory address of tuples will change that violates the mutability principle  
**Topics to cover:**  
1. Tuple Creation Methods: 
    - Formal notation 
    - Literal notation
    - without any notation (Since all these variations are valid Python syntax, we can use any of them, depending on the situation. Arguably, the last syntax is more commonly used when it comes to unpacking in Python.)    
    

2. Methods on Tuples
3. Access Values 
4. Delete Tuple 
5. Concat Tuple 
6. Slicing Tuple
7. Singleton Tuple
8. NamedTuples
8. Theory of Tuples 

Discuss that we can create tuples, without brackets or tuple class, 
To create a tuple object, we don't need to use a pair of parentheses () as delimiters.

### Theory of Tuples

Differences between tuples and lists:

Mutability: Lists are mutable, which means you can add, remove, or modify elements from a list after it has been created. Tuples, on the other hand, are immutable, which means you cannot change the elements of a tuple once it has been created.

Syntax: Lists are created using square brackets [] and commas, while tuples are created using parentheses () and commas.

Performance: Tuples are generally faster than lists, especially when iterating over large datasets. This is because tuples are stored in a more compact format in memory.

Advantages of using tuples:

Immutable: Tuples are immutable, which means their values cannot be changed once they are created. This makes them useful for storing data that should not be modified, such as configuration settings.

Faster: Tuples are faster than lists when it comes to indexing and iterating over large datasets. This is because tuples are stored in a more compact format in memory.


Disadvantages of using tuples:

Immutability: While immutability can be an advantage in some cases, it can also be a disadvantage. If you need to modify the values of a collection of data, then tuples are not a good choice.

Limited functionality: Tuples are less versatile than lists because they cannot be modified. This means you cannot add or remove elements, sort them, or apply any other operation that changes the contents of the tuple.

### Tuple Creation

In [99]:
# TUPLE Creation 1

tuple1 = tuple((1,2,3))
print(type(tuple1))
tuple1

<class 'tuple'>

(1, 2, 3)

In [100]:
# TUPLE Creation 2 
tuple2 = (1,2,3,4,5)
print(type(tuple2))
tuple2

<class 'tuple'>

(1, 2, 3, 4, 5)

In [101]:
# TUPLE Creation 3 
tuple3 = 1,2,3,4,5,6,7,8
print(type(tuple3))
tuple3

<class 'tuple'>

(1, 2, 3, 4, 5, 6, 7, 8)

In [103]:
# TUPLE CREATION 4
# Let's say we want to create a tuple of single element 


# We cannot do this, because pair of round brackets are considered as mathematical operations and python will remove these 
# brackets and return the single element inside 
tuple4 = (4)
tuple4

4

In [107]:
# Tuple Creation 4 - Continue 
# We need to put "," after the element in pair of round brackets to tell python that it is as tuple not just a number 
tuple4 = (4,)
print(tuple4)
print(type(tuple4))

(4,)
<class 'tuple'>

In [102]:
# we can store multiple data types in a tuple 
tuple4 = 1,2,3,"Khan",0.90,["Pakistan"]
tuple4

(1, 2, 3, 'Khan', 0.9, ['Pakistan'])

### Methods
1. min()
2. max()
3. len()

In [ ]:
min(tuple3)

In [ ]:
max(tuple3)

In [ ]:
len(tuple1)

### Accessing Tuple elements through indexing and unpacking *

In [108]:
tuple3[0]

1

In [109]:
tuple3[0]

1

In [110]:
first , *others = tuple3

In [111]:
print(first )
print(others)

1
[2, 3, 4, 5, 6, 7, 8]

In [114]:
first , second , *oth = tuple3
print(first)
print(second)
print(oth)

1
2
[3, 4, 5, 6, 7, 8]

In [112]:
print(f"OK{tuple3[5]}")

OK6

### Deleting a tuple

In [115]:
del tuple4
tuple4

NameError: name 'tuple4' is not defined

### Concat tuples

In [116]:
tuple4 = tuple1+tuple2
tuple4

# We know that tuple are immutable than how we can add two tuples, 
# This is beacuse concept of immutability is not about altering the object but , if reference id / memory address of an object 
# changes on altering it's value, than it is called as immutable object.

(1, 2, 3, 1, 2, 3, 4, 5)

### Slicing on tuples 
Slicing on tuples works exactly same as lists

In [117]:
tuple4[0:5]

(1, 2, 3, 1, 2)

In [118]:
tuple4[-1:5:-1]

(5, 4)

In [119]:
tuple5 = 1,2
len(tuple5)

2

### Named Tuples 
In the below example, we define a named tuple called Point with two fields x and y. We then create an instance of the named tuple by passing in values for the x and y fields. We can access these fields using the named fields p.x and p.y, making the code more readable and self-documenting.

Named tuples can be useful in cases where we want to represent a data structure with multiple fields and need more readable and self-documenting code. They are immutable, just like regular tuples.

In [ ]:
from collections import namedtuple

# define a named tuple
Point = namedtuple('Point', ['x', 'y'])

# create an instance of the named tuple
p = Point(1, 2)

# access elements using the named fields
print(p.x) # 1
print(p.y) # 2

# Dictionaries

A key value pair data structure in python is called as "dictionary", some other languages also called it "map" (DART), "object" (JavaScript). 
dictionaries are unordered, mutable data structures that store key-value pairs. They are also known as associative arrays or hash maps in other programming languages. Dictionaries are enclosed in curly braces {}, and each key-value pair is separated by a colon :.
discuss .format vs f string her


**Topics to explore in Dictionaries:**   
1- Creation of Dictionary   
2- Accessing Dictionary values  
3- Dictionary Keys vs List indices   
4- Restrictions on Dictionary Keys  
5- Restrictions on Dictionary Values  
6- How to add values in the dictionary  
7- Adding multiple key value pairs in the dictionary  
8- How to use for loops in dictionary   
9- Deleting a key value pair from dictionary  
10- Clearing the whole dictionary  
11- Built-in Functions and operators      


**IMPORTANT**   
an object of any immutable type can be used as a dictionary "key", So it means we can use integers, floats, strings, even `tuples` and `boolean` can be used as the keys in the dictionaries,  
We can even use built-in objects like types and functions like `int`, `str`, `float`, etc

### 1- Creation of Dictionary

There are basically two ways to create a dictionary  
1- Through literal meaning (using {})   
2- Through "dict" object (passing list of tuples to `dict` object)

In [74]:
dictionary_1 = {"name":"Muhammad Shahmeer Khan", "age": "24", "email":"shahmirkhan519@gmail.com", ("ok",):"ok", 
                True:"Fine", int:5,float:9.0 , str:"You are beautiful"}

dictionary_1

{'name': 'Muhammad Shahmeer Khan',
 'age': '24',
 'email': 'shahmirkhan519@gmail.com',
 ('ok',): 'ok',
 True: 'Fine',
 int: 5,
 float: 9.0,
 str: 'You are beautiful'}

In [63]:
dictionary_2 = dict([("name","Muhammad Shahmeer Khan"), ("age", "24"),( "email","shahmirkhan519@gmail.com") ])

dictionary_2

{'name': 'Muhammad Shahmeer Khan',
 'age': '24',
 'email': 'shahmirkhan519@gmail.com'}

### 2- Accessing values of dictionary

There are 2 ways to access value of a key through the dictionary  
1- Through Python Syntax  (There's an issue with this method) 
2- Through get method of dictionary

In [64]:
# Method 1 

name = dictionary_1["name"]
name

'Muhammad Shahmeer Khan'

In [65]:
# ISSUE
# What if "name" key doesnot exists? 
# if "name" key does not exists then Python will give an error of "key not found error"
# Let's try it out with a key that does not exist, let's say "country"

country = dictionary_1["country"]
country

KeyError: 'country'

In [67]:
# To fix the issue of non existing keys, we have method of get 
# METHOD 2

country = dictionary_1.get("country", "")
country

# If key doesnot exists, it will give us second parameter in return of get method, we can pass None, or anything we want

''

### 3- Dictionary Keys vs List indices   

It is a theoretical part  
List works on the indices, that are integers, whenever we want to access any value of list, we use it's index like 0,1,2...  
but for the dictionaries we use "key" to access it's value  
"key" can be of any data type of python that is immutable, It can be string, float, integers and even "tuples"

### 4- Restrictions on Dictionary Keys
It is a theoretical part

1- we can use any immutable type as the "key" of dictionary like, integers, floats, strings, boolean values, tuples, even builtin functions as well like, int, float, str, bool. But we cannot use mutable types like, lists, dictionary etc

2- we cannot add same key twice in a dictionary, if we try to do that, python will replace the value of existing key with the new value

### 5- Restrictions on Dictionary Values 
It is a theoretical part

By contrast, there are no restrictions on dictionary values. Literally none at all. A dictionary value can be any type of object Python supports, including mutable types like lists and dictionaries, and user-defined objects, which you will learn about in upcoming tutorials.

There is also no restriction against a particular value appearing in a dictionary multiple times

### 6- How to add values in the dictionary

In [75]:
# Adding a new key value pair in dictionary 

dictionary_1["country"] ="United States of America"

dictionary_1

{'name': 'Muhammad Shahmeer Khan',
 'age': '24',
 'email': 'shahmirkhan519@gmail.com',
 ('ok',): 'ok',
 True: 'Fine',
 int: 5,
 float: 9.0,
 str: 'You are beautiful',
 'country': 'United States of America'}

### 7- Adding multiple key value pairs in the dictionary  

we use `update` method to add multiple key value pairs in the existing dictionary

There are other 2 interesting method `|` pipe symbol and `|=` symbol   

- You can use the dictionary merge `|` operator, represented by the pipe character, to merge two dictionaries and return a new dictionary object.
If a key exists in both dictionaries, then the value from the second dictionary, or right operand, is the value taken  



- You can use the dictionary update `|=` operator, represented by the pipe and equal sign characters, to update a dictionary in-place with the given dictionary or values. Just like the merge `|` operator, if a key exists in both dictionaries, then the update `|=` operator takes the value from the right operand.

In [76]:
dictionary_3 = {"laptop":"ASUS", "mouse":"LOGITECH"}

dictionary_1.update(dictionary_3)

In [77]:
dictionary_1

{'name': 'Muhammad Shahmeer Khan',
 'age': '24',
 'email': 'shahmirkhan519@gmail.com',
 ('ok',): 'ok',
 True: 'Fine',
 int: 5,
 float: 9.0,
 str: 'You are beautiful',
 'country': 'United States of America',
 'laptop': 'ASUS',
 'mouse': 'LOGITECH'}

In [80]:
dictionary_4 = {"processor":"INTEL", "motherboard":"INTEL", }

updated_dictionary = dictionary_1 | dictionary_4
updated_dictionary

{'name': 'Muhammad Shahmeer Khan',
 'age': '24',
 'email': 'shahmirkhan519@gmail.com',
 ('ok',): 'ok',
 True: 'Fine',
 int: 5,
 float: 9.0,
 str: 'You are beautiful',
 'country': 'United States of America',
 'laptop': 'ASUS',
 'mouse': 'LOGITECH',
 'processor': 'INTEL',
 'motherboard': 'INTEL'}

In [81]:
dictionary_1 |= dictionary_4 


dictionary_1

{'name': 'Muhammad Shahmeer Khan',
 'age': '24',
 'email': 'shahmirkhan519@gmail.com',
 ('ok',): 'ok',
 True: 'Fine',
 int: 5,
 float: 9.0,
 str: 'You are beautiful',
 'country': 'United States of America',
 'laptop': 'ASUS',
 'mouse': 'LOGITECH',
 'processor': 'INTEL',
 'motherboard': 'INTEL'}

### 8- How to use for loops in dictionary

In [84]:
for i in dictionary_1:
    print(i)
    
    
# This will give us all the keys

name
age
email
('ok',)
True
<class 'int'>
<class 'float'>
<class 'str'>
country
laptop
mouse
processor
motherboard

In [87]:
for key , value in dictionary_1.items():
    print(key, value )
    
# items() function will give us key and values

name Muhammad Shahmeer Khan
age 24
email shahmirkhan519@gmail.com
('ok',) ok
True Fine
<class 'int'> 5
<class 'float'> 9.0
<class 'str'> You are beautiful
country United States of America
laptop ASUS
mouse LOGITECH
processor INTEL
motherboard INTEL

In [90]:
for key in dictionary_1.keys():
    print(key)
    
# Keys function will give us only keys

name
age
email
('ok',)
True
<class 'int'>
<class 'float'>
<class 'str'>
country
laptop
mouse
processor
motherboard

In [91]:
for value in dictionary_1.values():
    print(value)
    
# values function will give us only values

Muhammad Shahmeer Khan
24
shahmirkhan519@gmail.com
ok
Fine
5
9.0
You are beautiful
United States of America
ASUS
LOGITECH
INTEL
INTEL

### 9- Deleting a key value pair from dictionary 

We have builtin 2 functions to delete a key value pair from the dictionary "pop()" function and "popitem()" function

pop function will remove the key which is passed as a parameter and returns it's value and popitem() funciton deletes the last key value pair and returns it's key value pair that has been removed

In [93]:
value = dictionary_4.pop("processor")
value

'INTEL'

In [94]:
dictionary_4

{'motherboard': 'INTEL'}

In [96]:
value = dictionary_3.popitem()

In [97]:
value

('mouse', 'LOGITECH')

### 10- Clearing the whole dictionary

clear() function clears or empty the dictionary

In [98]:
dictionary_4.clear()

dictionary_4

{}

### 11- Built-in Functions and operators

**FUNCTIONS:**
- Accessing keys and values 
    - get() 
    - keys()
    - values()
    - items() 
- Update
    - update() 
- Clear
    - clear() 
- Removing elements
    - pop()
    - popitem()

**OPERATORS:** 
- |
- |=

# Sets

**DEFINITIONS**: Collection of unordered unique elements 

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table. Since sets are unordered, we cannot access items using indexes as we do in lists.

A set is mutable, but the elements contained in the set must be of an immutable type like, int, float, strings, bool, tuples, NOT lists and dictionaries 


1- Creation of Set   
2- Accessing value  
3- Adding value in Set  
4- Set opeations   
5- Remove values from set  
6- loop on set   
7- builtin functions

### 1- Creation of Set 

There are two ways to create a set:   
1- literal syntax  
2- set() object  

IMPORTANT:  
we cannot intialize an empty set using `set_1 = {}` because Python will interpet it as dictionary, but  
we can initialize an empty set using `set_1 = set()`

In [112]:
# METHOD 1

set_1 = {1,2,3,"OK"}

In [107]:
set_1

{1, 2, 3, 'OK'}

In [108]:
# METHOD 2

set_2 = set({1,2,3})

set_2

{1, 2, 3}

In [33]:
# METHOD 2

set_3 = set((1,2,3,4))

set_3

{1, 2, 3, 4}

In [34]:
# METHOD 2 

set_4 = set([1,2,3,4])

set_4

{1, 2, 3, 4}

### 2- Accessing value 

It is a/ theoretical part

we cannot access a value of set using indices or anything because by definition, set is unordered collection of unique objects

### 3- Adding value in Set
There are 3 methods to add elements in a Set   
1- add() funtion to add a single value in a set  
2- update() function to add multiple values in one time in Set.  
3- |= symbol

In [8]:
set_3.add(99)
set_3

{1, 2, 3, 4, 99}

In [36]:
set_4.update((100,99,98,97,96))
set_4

{1, 2, 3, 4, 96, 97, 98, 99, 100}

In [37]:
print(set_3)
set_3 |= set_4
set_3

{1, 2, 3, 4}

{1, 2, 3, 4, 96, 97, 98, 99, 100}

### 4- Set opeations

we get all the mathematical operations of sets in python datatype of set:  
- Union union() and |
- Intersection intersection() and &
- difference difference and -
- symmetric difference symmetric_difference() - ^ (Returns all elements that exists in one set or another but not in both).
- isdisjoint- " it is a boolean function that returns True if There is no element in common in both sets
- issubset- "<=" it is also a boolean function that returns true if all elemets of set1 exists in set 2 - set x is considered subset of itself
- issuperset ">=" it is also a boolean function, A set x1 is considered a superset of another set x2 if x1 contains every element of x2- set x is also it's super set

In [10]:
# SET UNION - METHOD 1
set_union = set_3.union(set_4)

set_union

{1, 2, 3, 4, 96, 97, 98, 99, 100}

In [12]:
# SET UNION & - METHOD 2

set_union = set_3 | set_4

set_union

{1, 2, 3, 4, 96, 97, 98, 99, 100}

In [13]:
# SET INTERSECTION - METHOD 1
set_intersection = set_3.intersection(set_4)

set_intersection

{1, 2, 3, 4, 99}

In [17]:
# SET INTERSECTION - METHOD 2
set_intersection = set_3 & set_4

set_intersection
# print(set_3, set_4)

{1, 2, 3, 4, 99}

In [18]:
# SET DIFFERENCE - METHOD 1

set_difference = set_4.difference(set_3)

set_difference

{96, 97, 98, 100}

In [19]:
# SET DIFFERENCE - METHOD 2

set_difference = set_4 - set_3

set_difference

{96, 97, 98, 100}

In [21]:
#  SET SYMMETRIC DIFFERENCE - METHOD 1
# x1.symmetric_difference(x2) and x1 ^ x2 return the set of all elements in either x1 or x2, but not both

set_symmetric_difference = set_3.symmetric_difference(set_4)

set_symmetric_difference

{96, 97, 98, 100}

In [22]:
#  SET SYMMETRIC DIFFERENCE - METHOD 2
# x1.symmetric_difference(x2) and x1 ^ x2 return the set of all elements in either x1 or x2, but not both

set_symmetric_difference = set_3 ^ set_4

set_symmetric_difference

{96, 97, 98, 100}

In [24]:
# SET ISDISJOINT:

set_isdisjoint = set_3.isdisjoint(set_4)
set_isdisjoint

# If isDisjoint is True means there are no common element in both sets, then their intersection will results in empty set

False

In [25]:
# SET ISSUBSET - METHOD 1

set_issubset = set_3.issubset(set_4)
set_issubset

True

In [26]:
# SET ISSUBSET - METHOD 2

set_issubset = set_3 <= set_4
set_issubset

True

In [27]:
# SET SUPERSET - METHOD 1

set_superset = set_3.issuperset(set_4)
set_superset

False

In [28]:
# SET SUPERSET - METHOD 2

set_superset = set_3 >= set_4
set_superset

False

In [ ]:
# PROPER SET

### 5- Removing value from set  
- remove()
- discard()
- pop()
- clear()

In [41]:
# REMOVE 
set_3.remove(3)

set_3

{1, 2, 4, 96, 97, 98, 99, 100}

In [43]:
set_3.remove()

TypeError: set.remove() takes exactly one argument (0 given)

In [45]:
# DISCARD 
set_3.discard(3)

set_3

{1, 2, 4, 96, 97, 98, 99, 100}

In [46]:
set_3.pop()

set_3

{1, 2, 4, 97, 98, 99, 100}

In [48]:
set_3.clear()

### 6- Loops on set

In [117]:
for i in set_1:
    print(i)

1
2
3
OK

# Frozen Sets

In [49]:
# which is in all respects exactly like a set, except that a frozenset is immutable. You can perform non-modifying operations on a frozenset:
# Creations 

frozenSet = frozenset({1,2,3,4})
frozenSet = frozenset([1,2,3,4])
frozenSet = frozenset((1,2,3,4))

In [2]:
import os
import urllib.request
import tarfile

# Downloading weights
weights_url = r'https://drive.google.com/uc?id=1gRB7ez1e4H7a9Y09lLqRuna0luZO5VRK'
weights_filename = os.path.basename(weights_url[0:10])
print(weights_filename)
urllib.request.urlretrieve(weights_url, weights_filename)

# # Downloading Blender
blender_url = r'https://ftp.nluug.nl/pub/graphics/blender/release/Blender2.93/blender-2.93.1-windows-x64.zip'
blender_filename = os.path.basename(blender_url)
blender_version = 'blender-2.93.1-windows-x64'  # Change to the desired folder name

if not os.path.exists(blender_version):
    os.mkdir(blender_version)

urllib.request.urlretrieve(blender_url, blender_filename)

with tarfile.open(blender_filename, 'r:xz') as tar:
    tar.extractall(blender_version)

os.remove(blender_filename)

dr

ReadError: not an lzma file